.button {
    color: white;
    border: 2px solid grey;
    background-color: rgba(71, 71, 71, 0.9);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    -webkit-animation: 1s fade;
    -moz-animation: 1s fade;
    -ms-animation: 1s fade;;
    -o-animation: 1s fade;;
    animation: 1s fade;
}

.arrow {
    display: inline-block;
    background-image: url("../../assets/images/arrow.png");
    background-size: contain;
    height: 70px;
    width: 29px;
    margin-top: 10px;
    opacity: 0.9;
    background-repeat: no-repeat;
}

.button-grid-container {
    display: inline-block;
    margin: auto;

}

.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    width: 134px;
    -webkit-animation: 1s fade;
    -moz-animation: 1s fade;
    -ms-animation: 1s fade;;
    -o-animation: 1s fade;;
    animation: 1s fade;
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
 }